* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #423f56;
  scroll-behavior: smooth;
}

:root {
  --yellow-font: #fdda5f;
  --orange-font: #ffa654;
  --purple-font: #a67cfe;
  --green-font: #32ffaa;
}

.header {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 200px auto; */
  /* background-color: red; */
}

.text {
  background-color: #fff;
}

.text h1 {
  font-size: 60px;
}

.text h1 span {
  color: var(--orange-font);
}

.text p {
  font-size: 32px;
  margin-bottom: 80px;
}

.text a {
  background-color: var(--purple-font);
  padding: 15px 35px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .text h1 {
    font-size: 30px;
  }

  .text p {
    font-size: 16px;
  }

  .text a {
    padding: 10px 25px;
  }
}
.about-us {
  width: 100%;
  padding: 10px 250px;
  display: flex;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 1400px) {
  .about-us {
    padding: 10px 100px;
  }
}

.about-left {
  width: 50%;
}

.about-left h1 {
  font-size: 60px;
}

.about-left img {
  margin-top: 75px;
}

.about-right {
  width: 50%;
}

.about-right p {
  line-height: 30px;
  font-size: 18px;
}

.about-right h1 {
  margin-top: 40px;
  font-size: 60px;
}

.skill {
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-card-1 {
  background-color: var(--purple-font);
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 150px;
  height: 200px;
  border-radius: 10px;
}
.skill-card-2 {
  background-color: var(--orange-font);
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.skill-card-3 {
  background-color: var(--yellow-font);
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.skill-card-4 {
  background-color: var(--green-font);
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.about-mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .about-us {
    display: none;
  }

  .about-mobile {
    display: flex;
    /* background-color: red; */
    margin: 0 20px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .about-mobile h1 {
    margin-top: 20px;
    font-size: 30px;
  }

  .about-mobile img {
    margin-top: 20px;
    width: 250px;
  }

  .about-mobile p {
    margin-top: 20px;
  }

  .skill-mobile {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill {
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .skill-mobile-card-1 {
    background-color: var(--purple-font);
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 200px;
  }
  .skill-mobile-card-2 {
    background-color: var(--orange-font);
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 200px;
  }
  .skill-mobile-card-3 {
    background-color: var(--green-font);
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 200px;
  }
  .skill-card-4 {
    width: 300px;
    height: 200px;
  }
}

.portfolio {
  width: 100%;
  padding: 100px 250px;
  display: flex;
  /* align-items: center; */
  min-height: 100vh;
  flex-direction: column;
}

.portfolio h3 {
  text-align: center;
  font-size: 60px;
}

.portfolio-card {
  margin-top: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-1 {
  display: flex;
  flex-direction: column;
  padding: 36px 38px;
  background-color: var(--orange-font);
  width: 570px;
  height: 360px;
  border-radius: 20px;
  animation-duration: 2s;
}

.card-1 p {
  margin-top: 10px;
}

.card-1 img {
  margin-top: 40px;
}

.card-1:hover {
  background-color: #ff9635;
  cursor: pointer;
  rotate: 30deg;
}

.card-2 {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  padding: 50px 38px;
  background-color: var(--purple-font);
  width: 570px;
  height: 787px;
  border-radius: 20px;
  animation-duration: 2s;
}

.card-2 p {
  margin-top: 10px;
}

.card-2 img {
  margin-top: 80px;
}

.card-2:hover {
  background-color: #8c55ff;
  cursor: pointer;
  rotate: 30deg;
}

.card-3 {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  padding: 30px 38px;
  background-color: var(--yellow-font);
  width: 570px;
  height: 530px;
  border-radius: 20px;
  animation-duration: 2s;
}

.card-3:hover {
  background-color: #ffd232;
  cursor: pointer;
  rotate: -30deg;
}

.card-3 p {
  margin-top: 10px;
}

.card-3 img {
  margin-top: 60px;
}

.card-4 {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  padding: 30px 38px;
  background-color: var(--orange-font);
  width: 570px;
  height: 510px;
  border-radius: 20px;
  animation-duration: 2s;
}

.card-4:hover {
  background-color: #ff9635;
  cursor: pointer;
  rotate: -30deg;
}
.card-4 p {
  margin-top: 10px;
}

.card-4 img {
  margin-top: 60px;
}

.btn {
  margin-top: 46px;
}
.portfolio-right a {
  margin-top: 46px;
  background-color: #0a0911;
  color: #fff;
  padding: 15px 35px;
  border-radius: 10px;
}

.portfolio-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .portfolio {
    display: none;
  }
  .portfolio-mobile {
    margin-top: 50px;
    display: block;
    width: 100%;
    padding: 100px 10px;
    text-align: center;
    /* align-items: center; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .portfolio-mobile h3 {
    font-size: 30px;
    margin: 50px;
  }
  .card-1 {
    width: 100%;
    height: 270px;
    border-radius: 5px;
    padding: 20px;
  }

  .card-1 img {
    margin-top: 60px;
  }

  .card-2 {
    width: 100%;
    height: 550px;
    border-radius: 5px;
    padding: 20px;
  }

  .card-3 {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    padding: 20px;
  }

  .card-4 {
    width: 100%;
    height: 270px;
    border-radius: 5px;
    padding: 20px;
  }

  .card-4 img {
    margin-top: 60px;
  }
}

.footer {
  background-color: var(--orange-font);
  width: 100%;
  height: 55vh;
  padding: 70px 250px;
}

.footer-component {
  display: flex;
  gap: 20px;
}

.footer-text {
  width: 50%;
}
.footer-text h1 {
  font-size: 60px;
}

.footer-input {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
}
.inputBox {
  height: 36px;
  border-radius: 10px;
  background-color: var(--orange-font);
  padding: 10px 5px;
  outline: white;
}

.inputBox:focus {
  background-color: #fff;
}
.comment {
  height: 100px;
  border-radius: 10px;
  background-color: var(--orange-font);
  padding: 10px 5px;
  outline: white;
}
.footer-input a {
  background-color: #0a0911;
  padding: 10px 10px;
  width: 75px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.footer p {
  margin-top: 40px;
  text-align: center;
}
